#this is an example of .env file. copy it to .env file and fill it 

#do NOT expose it on github(by default it is excluded in gitignore)

#connection string to connect to database
ConnectionStrings__DefaultConnection=your-conection-string

#rabbitMq options (used to log in into observe page)
#ServerHost is the host name only, WITHOUT port or scheme (e.g. localhost), not localhost:5672
RabbitMqOptions__UserName=your-username
RabbitMqOptions__Password=your-password
RabbitMqOptions__ServerHost=your-server-host
