#this is an example of .env file. copy it to .env file and fill it 

#do NOT expose it on github(by default it is excluded in gitignore)

#connection string to connect to database
ConnectionStrings__DefaultConnection=your-conection-string
